<main class="main min-h-screen flex flex-col bg-slate-900 text-gray-200"> 
  <!-- Topbar -->
  <div class="topbar flex w-full justify-between bg-slate-800 shadow-md shadow-slate-700 px-4 py-2 items-center">
    <div class="left-panel">
      <a href="/" class="text-xl text-sky-400 hover:text-sky-300">
        <i class="pi pi-home"></i><span class="pl-2 text-sm">Ammar Insaf ke dok lagi, ke dok insaf lagi!</span>
      </a>
    </div>
    <div class="right-panel"></div>
  </div>

  <!-- Content -->
  <div class="content flex-grow">
    <div class="p-10 flex flex-col items-center">
      <div class="text-4xl p-3 mt-10 text-sky-300">
        Drop your bank statement here
      </div>
      <div class="text-sm text-gray-400">Accepted banks are original Maybank, CIMB</div>
      <div class="text-sm text-gray-400">Accepted format is PDF</div>

      <!-- Drop Zone -->
      <div class="mt-12 w-3/4 text-center rounded-xl bg-slate-800 shadow-xl">
        <app-file></app-file>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="bg-slate-800 text-gray-400 text-center py-3 text-sm border-t border-slate-700">
    © 2025 EZ Extractor. All rights reserved.
  </footer>
</main>

<router-outlet />
